<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.appnow.blurt.sample">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--  permission to check if internet is available or not -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".SampleActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <meta-data
            android:name="com.blurt.application.key"
            android:value="eg3a7xsfswt1538049995452w2c2vkz5hhb" />

        <!-- If welcome message is not provided then default message will pick -->
        <meta-data
            android:name="com.blurt.welcome.message"
            android:value="Hi Welcome to Blurt Sample. How may i help you?" />

        <!-- If small icon is not provided then it will pick launcher icon -->
        <meta-data
            android:name="com.blurt.small_notification_icon"
            android:resource="@drawable/ic_notification_icon" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>
</manifest>
