<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.appnow.blurt">

    <application>
        <activity
            android:name=".user_auth.UserAuthActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BlurtAppTheme"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".main.common_activity.CommonActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BlurtAppTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".conversation_module.activity.ConversationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BlurtAppTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".chat_feedback.ChatFeedbackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BlurtAppTheme"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>